[Desktop Entry]
Name=Baobab
Comment=LengToolkit - baobab
Exec=baobab
Icon=/usr/share/icons/lengtoolkit/terminal.png
Terminal=false
Type=Application
Categories=LengToolkit;
