[Desktop Entry]
Name=Cryptsetup
Comment=LengToolkit - cryptsetup
Exec=mate-terminal -- bash -c "cryptsetup; exec bash"
Icon=/usr/share/icons/lengtoolkit/terminal.png
Terminal=true
Type=Application
Categories=LengToolkit;
