[Desktop Entry]
Name=Ddrescue
Comment=LengToolkit - ddrescue
Exec=mate-terminal -- bash -c "ddrescue --help; exec bash"
Icon=/usr/share/icons/lengtoolkit/terminal.png
Terminal=true
Type=Application
Categories=LengToolkit;
