[Desktop Entry]
Name=Extundelete
Comment=LengToolkit - extundelete
Exec=mate-terminal -- bash -c "extundelete --help; exec bash"
Icon=/usr/share/icons/lengtoolkit/terminal.png
Terminal=true
Type=Application
Categories=LengToolkit;
