[Desktop Entry]
Name=Keyboard Layout
Comment=Change keyboard layout
Exec=/usr/bin/keys
Icon=input-keyboard
Terminal=false
Type=Application
Categories=Utility;
