[Desktop Entry]
Name=Ncdu
Comment=LengToolkit - ncdu
Exec=mate-terminal -- bash -c "ncdu; exec bash"
Icon=/usr/share/icons/lengtoolkit/terminal.png
Terminal=true
Type=Application
Categories=LengToolkit;
