[Desktop Entry]
Name=Netcat-openbsd
Comment=LengToolkit - netcat-openbsd
Exec=mate-terminal -- bash -c "netcat-openbsd; exec bash"
Icon=/usr/share/icons/lengtoolkit/terminal.png
Terminal=true
Type=Application
Categories=LengToolkit;
