[Desktop Entry]
Name=Nwipe
Comment=LengToolkit - nwipe (Secure Disk Wiper)
Exec=mate-terminal -- bash -c "nwipe; exec bash"
Icon=/usr/share/icons/lengtoolkit/terminal.png
Terminal=true
Type=Application
Categories=LengToolkit;
