[Desktop Entry]
Name=Safecopy
Comment=LengToolkit - safecopy
Exec=mate-terminal -- bash -c "safecopy; exec bash"
Icon=/usr/share/icons/lengtoolkit/terminal.png
Terminal=true
Type=Application
Categories=LengToolkit;
