[Desktop Entry]
Name=Scalpel
Comment=LengToolkit - scalpel
Exec=mate-terminal -- bash -c "scalpel; exec bash"
Icon=/usr/share/icons/lengtoolkit/terminal.png
Terminal=true
Type=Application
Categories=LengToolkit;
