[Desktop Entry]
Name=Smartmontools
Comment=LengToolkit - smartmontools
Exec=mate-terminal -- bash -c "smartmontools; exec bash"
Icon=/usr/share/icons/lengtoolkit/terminal.png
Terminal=true
Type=Application
Categories=LengToolkit;
