[Desktop Entry]
Name=Strace
Comment=LengToolkit - strace
Exec=mate-terminal -- bash -c "strace -h; exec bash"
Icon=/usr/share/icons/lengtoolkit/terminal.png
Terminal=true
Type=Application
Categories=LengToolkit;
