[Desktop Entry]
Name=T4rnzy Recovery
Comment=LengToolkit - System Recovery Tool
Exec=mate-terminal -- bash -c "sudo t4rnzy"
Icon=/usr/share/icons/lengtoolkit/t4rnzy.png
Terminal=false
Type=Application
Categories=LengToolkit;
