[Desktop Entry]
Name=Tcpdump
Comment=LengToolkit - tcpdump
Exec=mate-terminal -- bash -c "sudo tcpdump; exec bash"
Icon=/usr/share/icons/lengtoolkit/terminal.png
Terminal=true
Type=Application
Categories=LengToolkit;
