[Desktop Entry]
Name=Wipe
Comment=LengToolkit - wipe
Exec=mate-terminal -- bash -c "wipe -h; exec bash"
Icon=/usr/share/icons/lengtoolkit/terminal.png
Terminal=true
Type=Application
Categories=LengToolkit;
