[Unit]
Description=Hardenwing: Hide hardware information from unprivileged users
DefaultDependencies=no
Before=sysinit.target
Requires=local-fs.target
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/libexec/hardenwing/hide-hardware-info
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
